<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>flight_number</th>
            <th>flight_name</th>
            <th>date</th>
        </tr>
    {% for i in all_bookings %}
        <tr>
            <td>{{i.flight_number}}</td>
            <td>{{i.flight_name}}</td>
            <td>{{i.date}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>